In [1]:
import numpy as np
import pandas as pd
from selenium import webdriver #pip install selenium
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
chrome_executable = Service(executable_path=r'C:\Users\yeesi\OneDrive\Desktop\Git\Data-Analytics\Environmental_Certificate\chromedriver_win32\chromedriver.exe')
driver = webdriver.Chrome(service=chrome_executable)
driver.get('http://www.demandmanager.com.au/certificate-prices/')

In [3]:
table = driver.find_element(By.ID, 'spot_table_holder').get_attribute('innerHTML')

In [4]:
#Extracting latest Spot Table
df = pd.read_html(table)[0]
df

  Scheme   Price  Volume      Date
0    LGC  $65.75   10000  02/11/22
1    LGC  $66.00    5000  02/11/22
2    LGC  $66.25   10000  02/11/22
3    LGC  $66.50   25000  02/11/22
4   VEEC  $72.25   10000  02/11/22
5   VEEC  $72.00    5000  02/11/22
6    ESC  $35.00   15000  02/11/22
7   ACCU  $29.75   25000  31/10/22
8    LGC  $66.00   10000  01/11/22

In [5]:
df_group = df.groupby(['Scheme','Date'])

In [6]:
cert_latest = []
for i in df_group.groups:
    cert_latest.append(pd.DataFrame(df_group.get_group(i).iloc[0]).transpose())
cert_latest = pd.concat(cert_latest)
cert_latest.set_index('Date', inplace=True)

In [8]:
cert_latest

         Scheme   Price Volume
Date
31/10/22   ACCU  $29.75  25000
02/11/22    ESC  $35.00  15000
01/11/22    LGC  $66.00  10000
02/11/22    LGC  $65.75  10000
02/11/22   VEEC  $72.25  10000